* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  background: black;
  font-family: sans-serif;
}
body {
  background: black;
  transition: ease;
}
a{
  text-decoration: none;
}
.main {
  scroll-behavior: smooth;
  display: grid;
  grid-area: body;
  grid-template-areas: "side content";
  /* "side content content"; */
  grid-template-columns: 21.5% 78%;
  /* grid-template-rows: 122px 518px; */
  background: #121212;
}
aside {
  grid-area: side;
}
.side1 {
  padding: 8px 12px;
  /* grid-area: aside; */
  /* width: 380px;
  height: 120px; */
  background: #1a1a1a;
  border-radius: 8px;
  color: rgb(110, 106, 106);
  font-size: 1.2rem;
  height: 100px;
  margin: 8px;
  transition: all 0.3s ease-in-out;
}
.side2 {
  /* grid-area: side; */
  /* /* width: 380px; */
  /* height: 600px;  */
  /* width: 320px; */
  position: sticky;
  background: #1a1a1a;
  border-radius: 8px;
  margin: 8px;
  margin-top: 0px;
  /* margin-top: 0; */
}
article {
  grid-area: content;
  background: linear-gradient(rgba(248, 184, 144, 0.255), #121212, #121212);
  margin: 8px 0;
  border-radius: 8px 8px 0 0;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
  transition: all 2s ease-in;
}
.container {
  /* margin-top: 50px; */
  display: flex;
  margin: 10px;
  cursor: pointer;
  height: 80px;
  background: rgb(54, 53, 53);
  backdrop-filter: blur(155px);
  border-radius: 8px;
}
.container img {
  width: 80px;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 5px 8px rgb(0, 0, 0);
}
.container h1 {
  /* margin-top: 3; */
  padding: 23px;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1.7px;
  font-weight: 100;
}
.ele1 {
  display: grid;
  grid-template-areas: "con con con";
}
.list {
  cursor: pointer;
  display: flex;
  width: 98%;
  height: 60px;
  border-radius: 5px;
  padding: 4px;
  margin: 4px;
}
.list img {
  height: 53px;
  border-radius: 5px;
  margin-right: 10px;
}
.list h3 {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}
.list p {
  color: rgb(103, 100, 100);
  margin-top: 5px;
  font-size: 0.78rem;
  font-weight: 400;
}
.navigation {
  /* z-index: 2; */
  position: relative;
  background: transparent;
  top: 0rem;
  /* left: ; */
  display: grid;
  grid-template-areas: "start end";
  height: 3rem;
  width: 100%;
  grid-template-columns: 50%;
  padding: 8px;
  margin-bottom: 8px;
  /* background:transparen; */
  border-radius: 8px 8px 0 0;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.navigation button {
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.1rem;
  border-radius: 50%;
  height: 2.1rem;
  margin: 0px 0.3rem;
  border: none;
  color: lightgrey;
  /* outline: white; */
  width: 2.1rem;
}
.navigation .end {
  display: flex;
  justify-content: end;
  align-items: center;
}
.navigation .end .upgrade {
  font-size: 0.9rem;
  width: 5rem;
  color: black;
  background-color: white;
  margin: 5px;
  border-radius: 20px;
}
.side2 .nav-upper {
  display: grid;
  grid-template-areas: "start end";
}
.side2 .nav-upper .start {
  font-size: 1.1rem;
  margin: 0.7rem;
  padding: 5px;
  padding-right: 3.1rem;
  color: rgb(103, 100, 100);
}
.side2 .nav-upper .start:hover {
  color: white;
}

.side2 .nav-upper .end button {
  background: none;
  border: none;
  /* margin: 12px; */
  margin-top: 0.8rem;
  height: 1.5rem;
  width: 1.5rem;
  /* padding: 5px; */
  color: rgb(103, 100, 100);
  font-size: 0.9rem;
}
.side2 .nav-upper .end button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}
.side2 .nav-lower {
  display: grid;
  grid-template-areas: "b b b";
  grid-template-columns: 33%;
}
.side2 .nav-lower button {
  background: rgb(54, 53, 53);
  border: none;
  font-size: 0.8rem;
  border-radius: 0.8rem;
  padding: 0.3rem;
  margin: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  width: 80%;
}
.side1 button {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  margin: 5px;
  padding: 2px;
  color: rgb(110, 106, 106);
}
.side1 button:hover {
  color: white;
}
.player {
  position: fixed;
  display: grid;
  grid-template-areas: "s m e";
  grid-template-columns: 30% 40% 30%;
  bottom: 2rem;
  height: 4rem;
  width: 100%;
  background-color: black;
  color: white;
}
.player .start {
  display: flex;
  justify-content: start;
  align-items: center;
}
.player .start img {
  height: 4rem;
  margin: 0.5rem;
  border-radius: 5px;
}
.player .start h3 {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0.5rem;
}
.player .start p {
  font-size: 0.62rem;
  margin-top: 0.15rem;
  margin-left: 0.5rem;
  font-weight: 200;
  color: rgb(103, 100, 100);
}
.player .start button {
  font-size: 1rem;
  background: none;
  color: white;
  border: none;
  margin: 0 5px;
}
.player .end {
  display: flex;
  align-items: center;
  justify-content: end;
}
.player .end button {
  margin: 0 0.4rem;
  font-size: 1rem;
  color: rgb(103, 100, 100);
  background: transparent;
  border: none;
}
.player .end button:hover {
  color: white;
}
.player .end .vol {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 22%;
  margin-right: 8px;
}
.player .end input[type="range"]::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
}
.greet {
  margin: 5px 15px;
  font-size: 1.5rem;
  color: white;
  /* top: 3rem; */
  /* position:; */
}
.player .middle {
  display: grid;
  grid-template-rows: 60% 40%;
}
.player .middle .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .middle button{
  margin: 1rem 0.3rem;
  padding: 0.3rem;
  border-radius: 50%;
  width: 2rem;
  /* font-size: 1rem; */
  border: none;
  background-color: transparent;
  color:#888;
  height: 2rem;
  text-align: center;
}
.player .middle button:hover{
  color: white;
}
.pb{
  background-color: white;
  width: 2rem;
  /* height: 2rem; */
  text-align: center;
  padding: 0.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  color: #121212;
}
.player .middle .bar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.player .middle .bar p{
  margin: 0.3rem;
  font-size: 0.7rem;
  color: rgb(103, 100, 100);
}
.player .middle .bar input[type="range"]{
  width: 80%;
  appearance: none;
  height: 3px;
  background: #888;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.bar input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #fff; /* Set the color of the slider thumb */
  cursor: pointer;
  border-radius: 50%;
}
.bar input[type="range"]::-moz-range-thumb{
  width: 10px;
  height: 10px;
  background: #000; /* Set the color of the slider thumb */
  cursor: pointer;
}
.Playlist{
  display:grid;
  grid-template-areas: "ele";
}
.Playlist img{
  height: 2.3rem;
}
.playlist{
  display: grid;
  grid-template-areas: "i img h3 p";
  grid-template-columns: 5% 8% 45% 42%;
  margin: 5px 5px;
  font-size: 0.9rem;
  font-weight: 360;
  color: #fff;
}
.playlist .t{
  display: flex;
 align-items: center;
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 38%;
  }
  .ele1 {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .container {
    height: 50px;
    margin: 5px;
  }
  .container img {
    height: 50px;
    width: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1198px) {
  .main {
    grid-template-columns: 25% 75%;
  }
  .ele1 {
    display: grid;
    grid-template-areas: "con con";
  }
}
